.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */
.temperature-header {
  font-size: 2em; /* You can adjust the font size as needed for the header */
}

.large-temperature {
  font-size: 10em; /* Adjust the font size to make it very large */
  margin: 0; /* Remove default margin to ensure it takes up more space */
  line-height: 1; /* Set line-height to 1 for better control over vertical spacing */
  text-align: center; /* Center the text horizontally */
  height: 90vh; /* Set the height to 90% of the viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Optionally, you can add a background color to make the text more noticeable */
.large-temperature {
  background-color: #f0f0f0; /* Adjust the color as needed */
  color: #333; /* Adjust the color for better contrast */
}
